.flowButton{
  
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
  
  }
  path.react-flow__edge-path {
    stroke-width: 4;
  }
  
  path.react-flow__edge-path:hover {
    stroke-width: 10;
  }